# Ignore Python virtual environments
venv/
.venv/

# Ignore PyCharm settings (optional)
.idea/

# Ignore model and weight files
*.pt

# Ignore other unnecessary files
__pycache__/
*.pyc
*.pyo
*.pyd
.DS_Store

